.fonts {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: large;
}
.fonts2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bottom-border {
  border-bottom: 4px solid;
}
.imgopacity {
  opacity: 0.85;
}
